@font-face {
    font-family: "Luckiest Guy";
    src: url("img/5.Font/LuckiestGuy-Regular.ttf") format("truetype");
}

body {
    font-family: "Luckiest Guy";
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    background-image: url("img/background.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

#title {
    color: white;
    font-size: 50px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}

canvas {
    background-color: black;
    display: block;
    width: 100%;
    max-height: 100vh;
}

.optionBtnLayer {
    position: fixed;
    z-index: 10;
    display: block;
    width: 720px;
    height: 480px;
    pointer-events: none;
}





#mainDiv {
    position: relative;
    width: 720px;
    height: 480px;
    border: 15px solid black;
    border-radius: 15px;
}

#startScreen {
    position: absolute;
    background-image: url("img/3. Background/Mesa de trabajo 1.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 720px;
    height: 480px;
    z-index: 2;
    top: 0;
    left: 0;
}

#howToPlayScreen {
    position: absolute;
    background-image: url("img/3. Background/Mesa de trabajo 1.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 720px;
    height: 480px;
    z-index: 5;
    top: 0;
    left: 0;
    display: none;
}

.fullscreen{
    width: 100% !important;
    max-height: 100vh;
}

.instruction {
    background-color: rgba(0, 0, 0, 0.7);
    color: #7fffe0;
    padding: 0 10px;
    margin: 10px;
    border-radius: 10px;
    font-size: 35px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.navKey {
    width: 80px;
    padding: 8px;
}

.key {
    height: 30px;
    padding: 0 8px;
}

.mobileKey {
    height: 30px;
    background-color: white;
    margin: 0 8px;
    border-radius: 30px;
}

.bottle {
    height: 70px;
    padding: 0 8px;
}

.enemyImg {
    width: 70px;
    height: 70px;
    padding: 0 4px;
}

.bossImg {
    width: 100px;
    padding: 0 4px;
}

#endScreen {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 720px;
    height: 480px;
    z-index: 2;
    display: none;
}

#youwinTitle {
    background-image: url("img/6.Botones/Tittles/You win/Recurso 21.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 720px;
    height: 130px;
    padding: 20px;
    margin-top: 20px;
}

#gameoverScreen {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 720px;
    height: 480px;
    z-index: 2;
    display: none;
}

#gameoverTitle {
    background-image: url("img/6.Botones/Tittles/Game Over/Recurso 12.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 720px;
    height: 130px;
    padding: 20px;
    margin-top: 20px;
}

.playAgainBtn {
    width: 190px;
    height: 63px;

    cursor: pointer;
    border-radius: 10px;
    font-size: 25px;
    font-family: Luckiest Guy;
    background-color: #7fffe0;
    border: white 4px solid;
}

#startButton {
    position: absolute;
    width: 190px;
    height: 63px;
    right: 140px;
    top: 130px;
    cursor: pointer;
    background-image: url("img/6.Botones/Start/2.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

#howToPlayBtn {
    position: absolute;
    width: 190px;
    height: 63px;
    right: 138px;
    top: 220px;
    cursor: pointer;
    border-radius: 20px;
    font-size: 28px;
    font-family: Luckiest Guy;
    background-color: #7fffe0;
    color: #531a82;
    border: white 3px solid;
    display: flex;
    justify-content: center;
    align-items: center;
}

#goBackBtn {
    width: 170px;
    height: 53px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 20px;
    font-size: 28px;
    font-family: Luckiest Guy;
    background-color: #7fffe0;
    color: #531a82;
    border: white 3px solid;
    display: flex;
    justify-content: center;
    align-items: center;
}

#startbutton:hover {
    background-image: url("img/6.Botones/Start/1.png");
}

.button {
    width: 45px;
    height: 45px;
    position: absolute;
    z-index: 3;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: white;
    border-radius: 100px;
    border: 1px solid black;
    outline: 1px solid black;
    display: none;
}

#btnLeft {
    position: absolute;
    left: 30px;
    bottom: 60px;
    background-image: url("img/arrow-left.png");
}

#btnRight {
    position: absolute;
    left: 128px;
    bottom: 60px;
    background-image: url("img/arrow-right.png");
}

#btnUp {
    position: absolute;
    left: 80px;
    bottom: 110px;
    background-image: url("img/arrow-up.png");
}

#btnDown {
    position: absolute;
    left: 80px;
    bottom: 10px;
    background-image: url("img/arrow-down.png");
}

#bubbleBtn {
    position: absolute;
    right: 50px;
    bottom: 80px;
    background-image: url("img/bubble.png");
}

#attackBtn {
    position: absolute;
    right: 100px;
    bottom: 30px;
    background-image: url("img/attack.png");
}

#hitboxButton {
    position: absolute;
    width: 30px;
    height: 30px;
    right: 60px;
    top: 10px;
    cursor: pointer;
    background-image: url("img/square.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    visibility: hidden;
    pointer-events: all;
}

#muteButton {
    position: absolute;
    width: 30px;
    height: 30px;
    right: 10px;
    top: 10px;
    cursor: pointer;
    
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
    z-index: 3;
    pointer-events: all;
}

#howToPlayButton {
    position: absolute;
    width: 190px;
    height: 63px;
    right: 140px;
    top: 130px;
    cursor: pointer;
    background-image: url("img/6.Botones/Start/2.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

#fullscreenBtn{
    position: absolute;
    width: 30px;
    height: 30px;
    right: 111px;
    top: 10px;
    cursor: pointer;
    background-image: url("img/fullscreen-enter.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
    visibility: hidden;
    pointer-events: all;
}

#rotateNotification {
    font-size: 40px;
    color: #7fffe0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
    text-align: center;
    width: 720px;
    height: 480px;
    display: flex;
    align-items: center;
    justify-content: center;
    word-wrap: break-word;
}

@media only screen and (max-width: 750px) {
    canvas {
        width: 100%;
    }

    #mainDiv {
        height: auto;
        width: 100%;
    }

    #startScreen {
        width: 100%;
    }

    #howToPlayScreen {
        width: 100%;
    }

    #rotateNotification {
        width: 100%;
    }
}

@media only screen and (max-height: 480px) {
    canvas {
        height: 100vh;
        width: unset;
        margin: auto;
    }

    .optionBtnLayer {
        height: 100vh;
        width: auto;
        aspect-ratio: 1.5;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    
    #mainDiv {
        height: 100vh;
        width: auto;
    }

    #startScreen {
        height: 100vh;
        width: 100%;
        background-size: cover;
    }

    #howToPlayScreen {
        height: 100vh;
        width: 100%;
        background-size: cover;
    }

    #gameoverScreen {
        width: 100%;
        background-size: contain;
    }

    #gameoverTitle {
        width: 80%;
    }

    #youwinTitle {
        width: 80%;
    }
    
    #endScreen {
        width: 100%;
        background-size: contain;
    }

    .instruction {
        font-size: 25px;
        margin: 4px;
    }

    .playAgainBtn {
        right: 330px;
        top: 260px;
    }

    #title {
        display: none;
    }
}