body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(18, 170, 178);
    height: 95vh;
}

canvas{
    background-color: black;
    display: block;
}

@media only screen and (max-width: 720px){
    canvas{
        width: 100%;
    }
}

@media only screen and (max-height: 480px){
    canvas{
        height: 100vh;
    }

    h1{
        display: none;
    }
}