body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(18, 170, 178);
    height: 95vh;
}

canvas{
    background-color: black;
}